
.site{
    display: grid;
    grid-template-rows: 21% 5% 21% 21% 21%;
    grid-template-columns: 27% 34% 33%;
    grid-column-gap: 2%;
    grid-row-gap: 21px;
    background-color: rgb(244, 233, 252);
}

 /*css baner debut*/
 .imgbaner{
    width: 100%;
    display: flex;
    grid-column: 1/ span3;
    grid-row: 1;
    
  }
 
  /*css baner fin*/

.sidebar {
    background-color: whitesmoke;
    border: solid 1px black;
    grid-column: 1 ;
    grid-row: 2/span 4 ;
    width: 100%;
    
}
/*ca c le css de l'icon du sidebar*/
.imgicon{
    float: right;
}
/*
le header contient le navbar voici son css
*/
.header{
    background-color: #bd1198;
    border: solid 1px white; 
    grid-column: 2/ span2;
    grid-row: 2;
}

 /*le ul permet de donner du style à l'ensemble du navbar*/
 ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #bd1198;
  }
  /*css des li qui sont orienté à droite*/
  li {
    float: right;
  }

.containerun{
    background-color: plum;
    border: solid 1px white; 
    grid-column: 2;
    grid-row: 3;

}

.imgcontun {
    width: 100%;
    display: grid;
}

.containerdeux{
    background-color: plum;
    border: solid 1px white; 
    grid-column: 3;
    grid-row: 3;

}

.containertrois{
    background-color: plum;
    border: solid 1px white; 
    grid-column: 2;
    grid-row: 4;

}

.containerquatre{
    background-color: rgb(192, 176, 209);
    border: solid 1px white; 
    grid-column: 3;
    grid-row: 4;

}

.containercinq{
    background-color: rgb(192, 176, 209);
    border: solid 1px white; 
    grid-column: 2;
    grid-row: 5;

}

.container{
 /*display: flex;
 flex-direction: column;
 align-items: center;*/
 align-content: center;

}
/*CSS DU MODAL*/

.btn-sm{
    background-color: #8d1d7a;
    text-align: center;
}

.modal-body h2{
 text-align: center;
}


    
